.jumbo {
    background-repeat: no-repeat;
    background-color: #eaeaea;
    color: #428bca;
    padding: 10px 10px 10px 10px;
    margin: 0px 5px 30px 5px;
    border-radius: 4px;
    align-content: center;
    text-align: center;
    font-family: Montserrat, sans-serif;
    -webkit-box-shadow: 10px 10px 21px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 21px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 21px -5px rgba(0,0,0,0.75);
    }

.jumbo1 {
    background-repeat: no-repeat;
    background-color: #eaeaea;
    color: #428bca;
    padding: 10px 10px 10px 10px;
    margin: 0px 5px 30px 5px;
    border-radius: 4px;
    align-content: center;
    text-align: center;
    font-family: Montserrat, sans-serif;
    height: 420px;
    -webkit-box-shadow: 10px 10px 21px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 21px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 21px -5px rgba(0,0,0,0.75);
}

.jumbo1:hover {
    background-color: gainsboro;
}
.imgcontainer {
    background-repeat: no-repeat;
    color: #428bca;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 4px;
    align-content: center;
    text-align: center;
    font-family: Montserrat, sans-serif;
    width: 100%;
    margin: auto;
}

.img{
    max-height: 180px;
    max-width: 100%
}
